/* Headings (h1, h2, etc.) have the same color but different shades. Use the biggest font size for h1, the second biggest for h2, and so on */
h1 {
    color: red;
    font-size: larger;
}

h2 {
    color: red;
    font-size: smaller;

}

* {
    box-sizing: border-box;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items center the y axis */
    align-items: center; 

    /* center the x axis */
    justify-content: center;
}

nav ul li {
    margin: 10px;
    list-style: none;
}

/* In the navigation bar, display the active item differently than other items */
li a{
    font-weight: bold;
    text-decoration: none;
    line-height: 20px;
}

/* The navigation item color in the hovering state should be different from the normal state */
li a:hover {
    color: orange;
    font-size: large;
}

/* The paragraph in the "Career statement" part should be formatted differently than paragraphs in job-description divs */

.statement {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
}


#experience p {
    background-color: black;
    color: white;
    padding: 20px 0;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}

/* Background colors of even rows and odd rows of the "education" table are different */
#education table tr:nth-child(even) {
    background-color: #ccc;
}

#education table tr:nth-child(odd) {
    background-color: #fff;
}